:root {
  --font-family: "Montserrat", sans-serif;
  --bg-color: #010038;
  --primary-color: #f39422;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: var(--font-family);
}

h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 3rem;
  margin-bottom: 20px;
}

h4 {
  font-size: 2rem;
}

.guess {
  font-size: 2rem;
}

.guess-box {
  border: 2px solid var(--primary-color);
  font-size: 8rem;
  display: inline-block;
  padding: 1rem;
  margin: 20px;
}

#play-again-btn {
  background: var(--primary-color);
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 0.5rem;
}

#play-again-btn:hover{
  cursor: pointer;
}
